@(version: String = "5.1")

<script src="@com.atlassian.connect.play.java.controllers.routes.AcController.asset("aui/" + version + "/js/aui-all.js")"></script>
<!--[if lt IE 9]><script src="@com.atlassian.connect.play.java.controllers.routes.AcController.asset("aui/" + version + "/js/aui-ie.js")"></script><![endif]-->